/* Mobile-first styles */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f6f9fc;
    color: #333;
}

.container {
    width: 100%;
    padding: 10px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

h1, h2, h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(145deg, #2a3b4d, #2c3e50);
    box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: #ecf0f1;
    padding: 14px 18px;
    margin: 5px 0;
    border-radius: 10px;
}

.navbar a:hover {
    background-color: #34495e;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('path_to_a_relevant_image.jpg');
    background-size: cover;
    color: white;
    padding: 50px 10px;
}

.features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.feature-box {
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
    transition: transform 0.3s;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.2);
}

.feature-box:hover {
    transform: translateY(-5px);
}

.cta {
    padding: 40px 10px;
    background: linear-gradient(145deg, #333941, #34495e);
    color: white;
}

.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.calculate-button, .cgpa-button {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    /* Other styles remain unchanged */
}

.testimonials {
    padding: 30px 10px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.15);
}

footer {
    padding: 20px 10px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

/* Styles for larger screens (e.g., tablets and desktops) */
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 20px;
    }

    h1, h2, h3 {
        font-size: inherit;
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar a {
        margin: 0;
    }

    .hero {
        padding: 100px 0;
    }

    .features {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
    }

    .feature-box {
        padding: 30px;
    }

    .cta {
        padding: 70px 0;
    }

    .links {
        flex-direction: row;
        gap: 20px;
    }

    .calculate-button, .cgpa-button {
        width: auto;
    }

    .testimonials {
        padding: 60px 0;
    }

    footer {
        padding: 30px 0;
    }
}

